/* variable couleur */
:root {
    --colorTheme1: #8aa1ba;
    --colorTheme2:#212E53;
    --colorTheme3:whitesmoke;

    /* Protection */
    --widthDivProtection:300px;
    --borderRadiusDivProtection:5px;
    --marginBottomDivProtection:20px;
    --NPColor:white;
    --DRColor:rgb(244, 231, 115);
    --DR-SFColor:rgb(141, 230, 168);
    --SColor:rgb(248, 132, 111);
    --S-SFColor:rgb(74, 74, 74);
}



/* input emetteur */

input.emetteurAbsent{
    border-style: solid;
    border-color: red;

}

input.emetteurPresent{
    color: black;
}



/* input du titre */

input.titre{
    width: 500px; border: 2px solid black
}

h2{
    margin-bottom: 50px;
    font-size: 15px;
}





/* LES BOUTONS */



button{
    width: 140px;
    height: 30px;
    border: none;
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px 0px;
}


/* Normalizer */
button.btnNormalize:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnNormalize{
        background-color:var(--colorTheme2);
         
         
}

/* Clear */
button.btnClear:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnClear{
    background-color:var(--colorTheme1);
     
}



/* Les div de chaque protection */
div.localDivProtectionClass{
    display: inline;
    margin-right: 10px;
}


/* PROTECTION */

/* Div du composant */
div.globalDivProtectionClassNP{
    background-color:var(--NPColor);
    width: var(--widthDivProtection);
    border-radius: var(--borderRadiusDivProtection);
    margin: auto;
    margin-bottom: var(--marginBottomDivProtection);
}

div.globalDivProtectionClassDR{
    background-color:var(--DRColor);
    width: var(--widthDivProtection);
    border-radius: var(--borderRadiusDivProtection);
    margin: auto;
    margin-bottom: var(--marginBottomDivProtection);
}

div.globalDivProtectionClassDR-SF{
    background-color:var(--DR-SFColor);
    width: var(--widthDivProtection);
    border-radius: var(--borderRadiusDivProtection);
    margin: auto;
    margin-bottom: var(--marginBottomDivProtection);
}



div.globalDivProtectionClassS{
    background-color:var(--SColor);
    width: var(--widthDivProtection);
    border-radius: var(--borderRadiusDivProtection);
    margin: auto;
    margin-bottom: var(--marginBottomDivProtection);
   
}

div.globalDivProtectionClassS-SF{
    background-color:var(--S-SFColor);
    width: var(--widthDivProtection);
    border-radius: var(--borderRadiusDivProtection);
    margin: auto;
    margin-bottom: var(--marginBottomDivProtection);
    color: white;
}